.App {
  text-align: center;
}

.buttonClass{
  background-color: blueviolet;
  color: chocolate;
}
.custom-button {
  background-color: red;
}

.productsList{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  gap: 3px;
}